# Copyright (C) The libssh2 project and its contributors.
#
# SPDX-License-Identifier: BSD-3-Clause

.deps
.libs
*-*-*
*.a
*.def
*.dll
*.exe
*.exp
*.gcda
*.gcno
*.la
*.lib
*.lo
*.o
*.obj
*.pdb
*~
aclocal.m4
autom4te.cache
build
compile
config.guess
config.log
config.status
config.sub
configure
Debug
depcomp
install-sh
libssh2-*.tar.bz2
libssh2-*.tar.gz
libssh2-*.tar.xz
libssh2-*.zip
libssh2.pc
libtool
ltmain.sh
Makefile
Makefile.in
Makefile.inc.cmake
missing
mkinstalldirs
Release
stamp-h*
tags
TAGS
tap-driver.sh
test-driver
