.deps
.libs
*.lib
*.pdb
*.dll
*.exe
*.obj
.*.swp
Debug
Release
*.exp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
libtool
ltmain.sh
missing
ssh2_sample
libssh2-*.tar.gz
install-sh
*.o
*.lo
*.la
mkinstalldirs
tags
libssh2.pc
TAGS
*~
cmake/.vs/libssh2/v15/.suo
*.db
*.opendb
*.db-shm
*.db-wal
*.vcxproj
*.vcxproj
*.filters
*.ipch
*.rule
*.cmake
*.bin
*.user
*.stamp
*.depend
*.check_cache
*.log
*.sln
*.list
*.txt
cmake/example/libssh2_config.h
cmake/tests/libssh2_config.h
cmake/CMakeFiles/CheckTypeSize/LONGLONG.c
cmake/CMakeFiles/3.9.5/CompilerIdC/CMakeCCompilerId.c
